{
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6
  },
  "rules": {
    "quotes": [
      2,
      "single"
    ],
    "indent": [
      "error",
      "tab"
    ]
  }
}
